.movie {
    margin: 50px;
    width: 300px;
}

.movie img {
    border-radius: 3px;
    margin-bottom: 6px;
}

.movie-info h3 {
   margin: 0 5px;
}

.error {
    text-align: center;
    font-size: 20px;
}