@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #121b24;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
}
